header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding: 10px 20px;
    background-color: var(--bg-content);
    border-bottom: 2px solid var(--border-color);
    cursor: pointer;
}

.page-content {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style: none;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}

header ul li>a {
    text-decoration: none;
    color: var(--text-main);
    font-weight: bold;
}

header ul li>a:hover {
    color: var(--accent-color);
}

.usercontent {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/* Footer styles */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 2px solid var(--border-color);
    background-color: var(--bg-footer);
}

footer ul {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: var(--text-list);
}

.service-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-left {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: var(--text-para);
}